@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary_layout leading-loose;
  }

  .direction-rtl {
    direction: rtl;
  }

  .direction-ltr {
    direction: ltr;
  }
}

@media (max-width: 768px) {
  /* Mobile css custom here */
  .__left_mobile div.text-right {
    text-align: left;
  }

  .__left_mobile img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
